body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}
header {
    position: fixed;
    top: 0px;
    width: 99%;
    height: 69px;
    border-bottom: 1px solid seashell;
    background-color: black;
    z-index: 999;
}
header div {
    display: inline-block;
}
.logo {
    padding-top: 10px;
    padding-left: 10px;
    float: left;
}
.nav-links {
    padding-top: 20px;
    padding-right: 10px;
    float: right;
}
.nav-links a {
    padding: 0 5px;
    text-decoration: underline;
    color: seashell;
}
.nav-links a:visited, .nav-links a:hover {
    color: seashell;
}
.container {
    position: relative;
    margin-top: 110px;
    width: 99%;
}
section {
    margin-bottom: 50px;
}
.mission {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url("../images/img-bedford-bizarre.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 1200px;
    height: 700px;
    margin: auto;
}
.mission, .featured, .locations, .contact {
    text-align: center;
}
.mission article {
    position: relative;
    top: 250px;
    width: 100%;
    background-color: black;
    text-align: center;
}
.featured-imgs {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}
.tea-img {
    width: 300px;
    height: 200px;
    padding: 40px 50px;
}
.tea-img h3 {
    margin-top: 10px;
}
.locations {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url("../images/img-locations-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 1200px;
    height: 500px;
    margin: auto;
}
.locations article {
    position: relative;
    top: 40px;
    width: 100%;
    text-align: center;
}
.location-details {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}
.place-detail {
    background-color: black;
    width: 300px;
    margin: 15px 20px;
    opacity: 1;
}
.contact article {
    height: 200px;
}
footer {
    text-align: left;
    margin-left: 20px;
}

