body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}
header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 69px;
    border-bottom: 1px solid seashell;
    background-color: black;
    z-index: 999;
}
header div {
    display: inline-block;
}
.logo {
    padding-top: 10px;
    padding-left: 10px;
    float: left;
}
.nav-links {
    padding-top: 20px;
    padding-right: 10px;
    float: right;
}
.nav-links a {
    padding: 0 5px;
    text-decoration: underline;
    color: seashell;
}
.nav-links a:visited, .nav-links a:hover {
    color: seashell;
}
.container {
    position: relative;
    margin-top: 70px;
}
.mission {
    /* background-image: url("../images/img-bedford-bizarre.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 1200px;
    height: 700px;
    margin: auto; */
    text-align: center;
}
.mission article {
    position: absolute;
    top: 250px;
    left: 0px;
    width: 100%;
    background-color: black;
    text-align: center;
}
